.cover__link {
  text-decoration: none;
  color: #ffffff;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  min-height: 62.5vw;
  position: relative;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2A2C2F;
  transition: opacity 0.3s;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}


@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
    max-width: 1184px;
  }
}
