.photo-grid__list {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  gap: 9px;
  list-style: none;
  padding: 0 0 14px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .photo-grid__list {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
<<<<<<< HEAD

@media screen and (min-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
=======
>>>>>>> b7a550d6bc3b19b44206568865964f9ca824072e
