.places {
  padding-top: 47px;
  padding-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .places {
    padding-top: 71px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding-top: 80px;
  }
}
