.place__image {
  width: 100vw;
  justify-self: center;
  margin-bottom: 32px;
  max-width: 340px;
}

@media screen and (min-width: 768px) {
  .place__image {
    grid-area: image;
    justify-self: start;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 768px) {
  .place__image {
    grid-area: image;
    max-width: 340px;
    justify-self: start;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 460px;
  }
}
