.cover__subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  margin: 0 auto;
  width: 100%;
  max-width: 260px;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.22;
    max-width: 360px;
  }
}
