.intro {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  color: #ffffff;
  padding: 64px 0 64px 0;
  margin: 0;
<<<<<<< HEAD
=======
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 88px 0 88px 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 92px 0 92px 0;
    max-width: 690px;
  }
>>>>>>> b7a550d6bc3b19b44206568865964f9ca824072e
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 88px 0 88px 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 92px 0 92px 0;

  }
}


