.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  padding:33px 16px 33px 16px;
  width: 100vw;
  height: 62.5vw;
  box-sizing: border-box;
}
