.place {
  display: grid;
  grid-template-columns: 100%;
  color: #ffffff;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: repeat(2, calc(50% - 14px));
    row-gap: 48px;
    column-gap: 28px;
    grid-template-areas:
    "title website"
    "image place_text"
  }
}

@media screen and (min-width: 1024px) {
  .place {
    max-width: 984px;
  }

