.place {
  display: grid;
  grid-template-columns: 100%;
  color: #ffffff;
  padding-bottom: 49px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) 1fr;
    grid-template-rows: auto auto;
    row-gap: 48px;
    column-gap: 28px;
    padding-bottom: 61px;
    grid-template-areas:
      "title website"
      "image place_text";
  }
}

@media screen and (min-width: 1024px) {
  .place {
    max-width: 928px;
    padding-bottom: 80px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    max-width: 984px;
    column-gap: 37px;
  }
}
