.footer {
  color: #ffffff;
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 62px;
  }
}
